/* styling for the social and merch html page */
table {
    border-collapse: collapse;
    width: 50%;
    color: white
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: pink;
    cursor: pointer;
}

h1 {
    color: rgb(235, 124, 209);
    text-align: center;
}

.directory {
    color: rgb(246, 15, 246);
    font-size: 20px;
    text-align: center;
}

.link {
    color: rgb(246, 15, 246);
    font-size: 20px;
}
/* styling for the home html page */
img {
    border-radius: 8px;
    border: 1px solid white;
}
body {
    background-color: black;
}

ul:hover {
    background-color: rgba(255, 192, 203, 0.885);
    cursor: pointer;
}

h3 {
    color: rgb(129, 13, 129);
}

form {
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(44, 243, 110);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    background-color: pink;
}

/* styling for the about html page */

div {
    color: white;
}

#large-paragraph {
    font-size: 21px;
}

#smaller-sentence {
    font-size: 17px;
}

/* Headers Styling */

#first-header {
    font-size: 40px;
}

#second-header {
    font-size: 30px;
    color:rgb(44, 243, 110)
}

#third-header {
    font-size: 20px;
}
